.profile-header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.profile-header__avatar {
    max-width: 150px;
    margin-right: 10px;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}
.profile-header__avatar img {
    display: inline-block;
    width: 100%;
    max-width: 150px;
}
.btn-change__avatar {
    width: 100%;
    font-size: 13px;
    text-align: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-change__avatar:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.profile-header__info {
    width: 80%;
    max-width: 614px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}
.profile-header__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 45px;
    padding: 13px 20px;
    box-sizing: border-box;
    background: #f9f9f9;
    font: 14px HelveticaNeueLight, sans-serif;
}
.profile-header__left {
    width: 50%;
}
.profile-header__right {
    width: 35%;
    max-width: 250px;
}
.btn-payment {
    display: inline-block;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn-payment:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.profile-header__person {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;
}

.profile-person__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.profile-header__name {
    font-size: 16px;
    font-weight: bold;
}
.profile-person__top .online-status {
    font-size: 14px;
    margin-top: 1px;
}

.profile-header__column.main-info {
    max-width: 160px;
}
.profile-header__column.main-info span {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}
.profile-header__column.main-info span:nth-child(odd) {
    font: 14px HelveticaNeueThin, sans-serif;
}
.profile-header__column.main-info span:nth-child(even) {
    font: 14px HelveticaNeueLight, sans-serif;
}

.profile-header__column.interests-info {
    width: 30%;
    max-width: 120px;
    font: 14px HelveticaNeueLight, sans-serif;
}
.profile-header__column.interests-info div {
    margin-bottom: 10px;
}

.profile-header__column.about {
    max-width: 280px;
    padding: 10px;
    box-sizing: border-box;
    font: 13px/18px HelveticaNeueLight, sans-serif;
    background: #f9f9f9;
}
.profile-header__column p {
    margin:0 0 5px;
}

.person-content {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}

.person-content__photo {
    max-width: 342px;
    box-sizing: border-box;
    border-right: 0;
    border-radius: 3px;

}

.person-content__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 45px;
    padding: 13px 20px;
    box-sizing: border-box;
    background: #f9f9f9;
    font: 14px HelveticaNeueLight, sans-serif;
    color: #364050;
}
.person-content__header button {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.person-content__header button:hover {
    opacity: 0.7;
    transition: all 0.2s linear;
}
.photo-content {
    display: flex;
    flex-flow: row wrap;
}
.photo-item {
    max-width: 85px;
    margin: 0;
}
.photo-item img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.person-content__visitors {
    width: 65%;
    max-width: 431px;
    border-left: 0;
}
.person-content__visitors .online-status {
   font-size: 11px;
}
.person-content__visitors .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 7px;
}
.person-content__visitors .persons-item {
    width: 30%;
    max-width: 91px;
    padding: 5px 5px 5px;
}
.person-content__visitors .persons-item img {

}
.person-content__visitors .persons-item__person {
    padding-top: 5px;
    margin-bottom: 3px;
}
.person-content__visitors .persons-item__info {
    min-height: auto;
    padding: 0 7px 5px;
}
.person-content__visitors .person-content__header {
    display: block;
}
.profile .online-persons {
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}

.online-persons__title {
    min-height: 45px;
    padding: 13px 0 13px 50px;
    box-sizing: border-box;
    background: #f9f9f9;
}