.advantages {
  padding: 6vh 0 4vh;
  background: $grey;
  &-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &-item {
    min-height: 320px;
    margin-bottom: 20px;
    text-align: center;
    &__icon {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      min-height: 136px;
      img {
        max-height: 136px;
      }
    }
    &__title {
      margin: 15px 0;
      font: 20px/26px $font-slab;
      color: $blue-dark;
    }
    &__description {
      font-size: 16px;
      line-height: 23px;
    }
  }
}