.hero {
  padding: 9vh 0 5vh;
  text-align: center;
  background: $blue-dark;
  color: #ffffff;
  &-wrapper {
    max-width: 760px;
    margin: 0 auto;
  }
  &-logo {
    img {
      max-width: 181px;
      max-height: 181px;
      user-select: none;
    }
  }
  &-title {
    margin-top: 30px;
    font: 90px/118px $font-slab;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-btn {
    width: 80%;
    max-width: 188px;
    margin: 7vh auto;
    font-family: $font-base-bold;
    i.fa-caret-right {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  .btn--mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 29px;
    margin: 0 auto;
    padding: 0;
    border: none;
    background: transparent url("/src/images/icons/mouse_3x.png") center no-repeat;
    background-size: cover;
    &:active::after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-top-right-radius: 40%;
    }
    &:active {
      outline: none;
    }
    &:hover {
      outline: none;
      animation: mouse 0.9s ease infinite;
    }
    @keyframes mouse {
      0% {
        top: 0;
      }
      50% {
        top: 3px;
      }
      100% {
        top: -2px;
      }
    }
  }
}