//глобальные переменные

// fonts variables

$font-base: Geometria, sans-serif;

$font-size--base:   14px!default;
$line-height--base: normal!default;


// fonts variables END


// colors variables

$black:  #000000;
$purple: #454190;
$yellow: #fecf05;
$brule: #fff9e3;
$grey:   #f3f3f3;


// colors variables END

