@font-face {
    font-family: Futore;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/furore.otf');
}

@font-face {
    font-family: HelveticaLight;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/helvetica_light_regular.woff') format('woff');
}

@font-face {
    font-family: RobotoRegular;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    font: 17px RobotoRegular, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}
.title {
    position: relative;
    display: block;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3821a;
    font: 40px/50px Futore, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e3821a;
}
.title::before,
.title::after {
    content: "●";
    display: block;
    position: absolute;
    bottom: -20px;
    left: -20px;
}
.title::after {
    left: auto;
    right: -20px;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 124px;
    padding: 20px 30px;
    box-sizing: border-box;
}
.mobile-btn {
    display: none;
}
.header-column__right {
    width: 80%;
    max-width: 1242px;
    margin-right: 7vw;
    text-align: right;
}

.header-navigation__link {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 20px 0 0;
    font: 16px HelveticaLight, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header-navigation__link:last-child {
    margin: 20px 0 0 0;
}

.header-navigation__link:hover {
    background-color: rgba(255, 147, 0, 0.3);
    transition: background-color 0.2s linear;
}
.header-navigation__link.active {
    background-color: rgba(255, 147, 0, 0.3);
    transition: background-color 0.2s linear;
}

.header-phone {
    display: inline-block;
    width: 80%;
    margin: 0 -37px 0 0;
    text-decoration: none;
    font: 17px HelveticaLight, sans-serif;
    font-weight: bold;
}
.header-phone:hover {
    color: rgba(255, 147, 0, 0.8);
    transition: color 0.2s linear;
}
.hero {
    position: relative;
    min-height: 775px;
    padding: 8vh 7vw 9vh 7vw;
    box-sizing: border-box;
    background: url(/images/hero_grid_bg.png) center no-repeat,
    url(/images/hero_bg.jpg) center no-repeat;
    background-size: auto, cover;
    font: 60px/70px Futore, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero-description {
    max-width: 85%;
}
.hero-title {
    position: absolute;
    bottom: 7vh;
    right: 7vw;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    text-align: right;
    font: 60px/70px Futore, sans-serif;
    letter-spacing: 1px;
}
.about {
    position: relative;
    padding: 80px 30px 60px;
    background: url(/images/grid-about.png) 38% 130px no-repeat;
    background-size: 55%;
}

.about-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
}
.about-item {
    width: 50%;
    margin-bottom: 6vh;
}
.about-item__text {
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 20px;
}
.about-item:nth-child(odd) .about-item__text {
    max-width: 300px;
}
.about-item:nth-child(even) .about-item__text {
    float: right;
    text-align: right;
}
.about-item:nth-child(even) .about-item__text::after {
   clear: both;
}
.about-item__person {
    text-align: right;
}

.video-block {
    margin-top: 10vh;
}
.video {
    padding: 5vh 30px;
}
.video-title {
    margin-bottom: 4vh;
}
.video-block {
    position: relative;
}

.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 99.4%;
    padding-top: 20%;
    box-sizing: border-box;
    font-size: 6rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
}
.video-btn.pause {
    opacity: 0;
    transition: opacity 0.2s linear;
}
.video-btn span span {
    color: #d88032;
}
.about-courses {
    padding: 10vh 30px;
    background: url("/images/line/about-line.png") 0 40% no-repeat;
    background-size: 30%;
}
.about-courses__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10vh;
}
.about-courses__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;
}
.about-courses__text {
    max-width: 70%;
}
.about-courses__icon {
    width: 20%;
    text-align: center;
}
.about-courses__icon img {
    max-width: 100px;
    max-height: 100px;
}
.program {
    padding: 10vh 30px;
    background: url("/images/line/programm-line.png") 100% 5% no-repeat,
     url("/images/line/programm-bg.png") 140% 30% no-repeat,
     url("/images/line/programm-bg2.png") -10% 60% no-repeat;
    background-size: 30%, 50%;
}
.program-title {
    margin-bottom: 10vh;
}
.program-item {
    max-width: 1000px;
    margin: 0 auto 8vh;
}
.program-item__header {
    font: 35px/40px Futore, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e3821a;
}
.program-item__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 5vh auto;
    border: 1px solid #e3821a;
    border-radius: 50%;
    font: 40px Futore, sans-serif;
    text-align: center;
    color: #e3821a;
}
.program-item__title {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
.program-item__list {
    width: 40%;
    max-width: 830px;
    margin: 4vh auto 0;
}
.program-item__list li {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 35px;
    color: #e3821a;
}
.program-item__list li span {
    color: #000000;
}

.order {
    background-color: #ebded2;
}
.order-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1478px;
    margin: 0 auto;
    padding: 30px;
    min-height: 250px;
    box-sizing: border-box;
    color: #000000;
}
.order-logo {
    text-align: center;
}
.order img {
    margin-bottom: 10px;
}
.order-slogan {
    max-width: 300px;
    font-size: 20px;
    text-align: center;
}
.order-btn {
    width: 60%;
    max-width: 300px;
    padding: 10px 15px;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
}
.order-btn:hover {
    border: 2px solid #e3821a;
    color: #e3821a;
    transition: all 0.2s linear;
}
.teachers-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.teachers {
    padding: 10vh 30px;
}
.teachers-content {
    max-width: 80%;
    margin: 13vh auto 0;
}
.teachers-item {
    max-width: 45%;
    margin-bottom: 10vh;
}
.teachers-item__photo {
    margin-bottom: 30px;
}
.teachers-item__photo img {
    max-width: 100%;
}
.teachers-item__name {
    margin-bottom: 10px;
    font: 25px Futore, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.teachers-item__description {
    font-size: 20px;
    line-height: 30px;
}
.scheme {
    padding: 10vh 30px;
    background: url("/images/line/programm-bg2.png") -10% 30% no-repeat;
    background-size: 40%;
}
.scheme-title {
    margin-bottom: 12vh;
}
.scheme-item {
    width: 50%;
    min-width: 940px;
    margin: 0 auto 10vh;
    text-align: center;
}
.scheme-item__header {
    margin-bottom: 4vh;
    font: 25px Futore, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.scheme-item__description {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}
.scheme-item__icon img {
    max-width: 100px;
}

.about-us {
    padding: 5vh 30px 10vh;
    margin-bottom: 10vh;
}
.about-us__title {
    margin-bottom: 10vh;
}
.about-us__description {
    position: relative;
    max-width: 600px;
    margin: 0 auto 9vh;
    font-size: 20px;
    text-align: center;
}
.about-us__description::after {
    content: "●";
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    color: #e3821a;
}
.about-us_slider {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto 5vh;
    max-height: 603px;
}
.about-us_slider img {
    max-width: 100%;
    max-height: 603px;
    margin: 0 auto;
}
.slick-prev.slick-arrow {
    border: none;
    background: transparent;
}
.reviews {
    padding: 0 30px 10vh;
}
.reviews-title {
    margin-bottom: 10vh;
}
.reviews-slider {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}
.reviews-slider .slick-prev,
.reviews-slider .slick-next {
    top: 30%;

}
.reviews-slider__photo {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
}
.reviews-slider__photo img {
    display: block;
    margin: 0 auto;
}
.reviews-slider__text {
    text-align: center;
}
.reviews-slider__text .name {
    margin-bottom: 20px;
    font: 25px Futore, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.reviews-slider__text .description {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}
.price {
    padding: 5vh 30px 10vh;
    background: url("/images/line/programm-bg.png") 100% 30% no-repeat;
    background-size: 30%;
}
.price-title {
    margin-bottom: 10vh;
}
.price-content {
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;

}
.price-left,
.price-right {
    position: relative;
    width: 47%;
    min-height: 500px;
    padding: 5vh 4vw;
    box-sizing: border-box;
}
.price-left {
    float: left;
    background-color: #d8d9d7;
}
.price-right {
    float: right;
}
.price-sale div:first-child {
    font-size: 28px;
}
.price-sale .price-btn {
    width: 200px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    background-color: #e3821a;
}
.price-course div {
    font-size: 34px;
}
.price-course {
    position: absolute;
    bottom:45px;
    left: 40px;
}
.price-course div:last-child {
    font-weight: bolder;
}
.price-result {
    width: 50%;
    max-width: 800px;
    margin: 10vh auto 0;
    font: 35px RobotoRegular, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.price-result__btn {
    width: 100%;
    max-width: 330px;
    margin: 5vh auto 0;
    padding: 25px 30px;
    border: 1px solid #e3821a;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.price-result__btn:hover {
    color: #e3821a;
    transition: all 0.2s linear;
}

.footer {
    margin: 10vh 0;
    padding: 0 30px;
}
.contacts-content {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}
.footer-title {
    margin-bottom: 15vh;
}
.contacts-content {
    overflow: hidden;
}
.contacts-content__left div {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bolder;
}
.footer-phone {
    font-size: 25px;
}

.contacts-content__left {
    float: left;
    width: 49%;
}
.contacts-content__social {
    width: 49%;
    float: right;
    text-align: right;
}
.social-btn {
    display: inline-block;
    margin-left: 20px;
    font-size: 50px;
    cursor: pointer;
}
.social-btn:hover {
    opacity: 0.5;
    transition: all 0.2s linear;
}
.contacts-content__btn {
    width: 100%;
    max-width: 330px;
    margin: 5vh auto 0;
    padding: 25px 30px;
    border: 1px solid #e3821a;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.contacts-content__btn:hover {
    color: #e3821a;
    transition: all 0.2s linear;
}

.scroll-btn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    line-height: 27px;
}


