body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: RobotoRegular;
    src: url("/src/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("/src/fonts/Roboto/Roboto-Black.ttf") format("ttf");
}

@font-face {
    font-family: RobotoSlabRegular;
    src: url("/src/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: RobotoSlabBold;
    src: url("/src/fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: RobotoSlabLight;
    src: url("/src/fonts/RobotoSlab/RobotoSlabLight.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("/src/fonts/Opensans/OpenSansRegular.ttf");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("/src/fonts/Opensans/OpenSansSemiBold.ttf");
}

body {
    font: 14px OpenSans, sans-serif;
    line-height: 19.6px;
    color: #404040;
}

.title {
    margin-bottom: 5vh;
    font: 60px RobotoSlabLight, sans-serif;
    color: #336e7b;
}

a {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #336e7b;
}

.btn {
    padding: 9px 17px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.btn--blue,
.btn--yellow {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #006e7d;
    font: 14px OpenSansSemiBold, sans-serif;
    color: #ffffff;
    outline: none;
}

.btn--yellow {
    background: #ffe26d;
    color: #006e7d;
}

.btn--blue:hover,
.btn--blue:active {
    background: #005864 !important;
    color: #ffffff;
    transition: all 0.2s linear;
    outline: none;
}

.btn--yellow:hover,
.btn--yellow:active {
    background: #f7d963 !important;
    color: #006e7d;
    transition: all 0.2s linear;
    outline: none;
}

.btn--blue:focus {
    color: #ffffff;
    background-color: #006e7d;
}

.btn--white {
    border: 3px solid #336e7b;
    background-color: #fff;
    color: #336e7b;
    outline: none;
}

.btn--white:hover,
.btn--white:active {
    background-color: transparent;
    color: #336e7b;
    opacity: 0.6;
    transition: all 0.2s linear;
    outline: none;
}

.btn--white:focus {
    background-color: #fff;
    color: #336e7b;
    outline: none;
}

.btn--transparent {
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.btn--transparent:hover,
.btn--transparent:active {
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    transition: all 0.2s linear;
    outline: none;
}

.btn--transparent:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.btn--play {
    width: 80%;
    max-width: 188px;
    margin: 7vh auto;
    font-family: OpenSansSemiBold, sans-serif;
    outline: none;
}

.btn--play i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.mobile-btn {
    display: none;
}

.modal-body {
    padding: 30px 0;
}

.modal .video-content {
    margin-top: 0;
}

.modal button {
    width: auto;
}

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
    font-family: OpenSansSemiBold, sans-serif;
}

.header .nav-tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.header .nav-tabs li a {
    padding: 13px 5px;
    margin-right: 0;
    border: none;
    border-radius: 0;
    color: #404040;
}

.header .nav-tabs li a:hover {
    color: #336e7b;
    background: transparent;
    transition: color 0.2s linear;
}

.header .nav-tabs li a:focus {
    color: #404040;
    background: none;
}

.header .nav-tabs li a:active {
    background: none;
    border: none;
    opacity: 0.5;
}

.header-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.header-btn button.btn {
    width: 80%;
    max-width: 130px;
    outline: none;
}

.header-btn button.btn:active, .header-btn button.btn:focus {
    outline: none;
}

.header-btn button.btn.btn--blue {
    background: #336e7b;
}

.hero {
    padding: 9vh 0 5vh;
    box-sizing: border-box;
    text-align: center;
    background: url("/src/images/bitmap.png") center center no-repeat, url("/src/images/lines.png") center 50px no-repeat;
    background-size: cover, auto;
    background-color: #336e7b;
    color: #ffffff;
}

.hero-wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.hero-logo img {
    max-width: 181px;
    max-height: 181px;
    user-select: none;
}

.hero-title {
    margin-top: 30px;
    font: 90px/118px RobotoSlabBold, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero-description {
    margin-top: 20px;
    font: 18px/25px RobotoSlabRegular, sans-serif;
}
.hero a.btn:active, .hero a.btn:focus {
    color: #fff;
}

.hero-btn {
    width: 80%;
    max-width: 188px;
    margin: 7vh auto;
    font-family: OpenSansSemiBold, sans-serif;
}

.hero-btn i.fa-caret-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.hero .btn--mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 29px;
    margin: 50px auto 20px;
    padding: 0;
    border: none;
    background: transparent url("/src/images/icons/mouse_3x.png") center no-repeat;
    background-size: cover;
}

.hero .btn--mouse:active::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top-left-radius: 40%;
}

.hero .btn--mouse:active {
    outline: none;
}

.hero .btn--mouse:hover {
    outline: none;
    animation: mouse 0.9s ease infinite;
}

@keyframes mouse {
    0% {
        top: 0;
    }
    50% {
        top: 3px;
    }
    100% {
        top: -2px;
    }
}

.thesis {
    padding: 2vh 0;
    background: #f4f4f4;
}

.thesis-content {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 10px;
}

.thesis-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
    overflow: hidden;
}

.thesis-item__icon {
    max-width: 130px;
    margin-right: 20px;
}

.thesis-item__icon img {
    display: inline-block;
    width: 100%;
}

.thesis-item__text {
    max-width: 75%;
}

.thesis-item__title {
    margin: 15px 0;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.thesis-item__description {
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.lessons {
    padding: 7vh 0 9vh;
}

.lessons-title {
    margin-bottom: 5vh;
}

.lessons-item {
    margin-bottom: 20px;
}

.lessons-item button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    min-height: 79px;
    padding: 10px 15px 10px 30px;
    border-radius: 5px;
    border: solid 3px #336e7b;
    box-sizing: border-box;
    font: 16px/22px OpenSans, sans-serif;
    text-decoration: none;
    background: #fff;
}

.lessons-item:first-child button {
    border: solid 3px #d3d3d3;
}

.lessons-item:hover > button {
    background: #336e7b;
    border: solid 3px #336e7b;
    color: #ffffff;
    transition: all 0.2s linear;
}

.partnership {
    padding: 7vh 0 9vh;
    text-align: center;
    background-color: #336e7b;
    color: #ffffff;
}

.partnership-title {
    margin-bottom: 8vh;
    color: #ffffff;
}

.partner-advantages__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 370px;
    margin: 20px 0;
}

.partner-advantages__item .icon {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-height: 170px;
}

.partner-advantages img {
    display: inline-block;
    max-width: 150px;
    max-height: 110px;
}

.partner-advantages__item:nth-of-type(2) img {
    max-height: 150px;
}

.partner-title {
    margin-bottom: 15px;
    font: 20px/26px RobotoSlabBold, sans-serif;
}

.partner-advantages__item .description {
    max-width: 90%;
    margin: 0 auto;
    font: 14px/25px RobotoSlabRegular, sans-serif;
    text-align: justify;
}

.partner-text {
    text-align: left;
}

.partner-text p,
.partner-table__text p {
    margin: 20px 0;
    font: 16px/25px RobotoSlabRegular, sans-serif;
}

.partner-text p span,
.partner-table__text p span {
    font-family: RobotoSlabBold, sans-serif;
}

.partner-table__text p.special {
    padding: 15px;
    background: #ffe169;
    color: #336e7b;
}

.partner-tables {
    text-align: center;
    margin: 0 0 30px;
}

.partner-table {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 30px 0;
    border-radius: 13%;
    border: 15px solid #ffe169;
    text-align: center;
    overflow: hidden;
}

.partner-table:first-of-type {
    margin-right: -8px;
}

.partner-table:nth-of-type(2) {
    margin-left: -8px;
}

.partner-table__column {
    display: inline-block;
    vertical-align: top;
    width: calc(49% + 3px);
    height: 100%;
    padding-bottom: 15px;

}

.partner-table__column:first-child {
    border-right: 8px solid #ffe169;
    margin-right: -2px;
}

.partner-table__column:last-child {
    border-left: 8px solid #ffe169;
    margin-left: -2px;
}

.partner-table__header {
    padding: 15px;
    margin-bottom: 15px;
    font: 20px/25px OpenSansSemiBold, sans-serif;
    background: #2b5d68;
}

.partner-table__key,
.partner-table__price {
    padding: 7px 0;
    font-size: 20px;
}

.partner-table__text {
    text-align: left;
}

.modal-dialog.modal-partner {
    width: 80%;
    color: #ffffff;
}

.modal .close {
    opacity: 0.3;
    font-size: 30px;

}
.modal-partner .close {
    opacity: 0.8;
    color: #ffffff;

}

.modal-partner .modal-header,
.modal-partner .modal-body {
    background: #336e7b;
}
.modal-partner h2 {
    margin-left: 15px;
}
.modal-partner .modal-body {
    padding: 20px;
}

.efirium {
    padding: 7vh 0 9vh;
}

.efirium-title {
    font-size: 41px;
}

.efirium-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.efirium-text {
    font: 16px/23px RobotoSlabRegular, sans-serif;

}

.efirium-text p {
    margin-bottom: 20px;
}

.efirium ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 30px;
    list-style: disc;
    color: #336e7b;
}

.efirium ul li {
    width: 49%;
    margin-bottom: 5px;
}

.efirium ul li span {
    display: inline-block;
    vertical-align: middle;
    color: #404040;
    font-size: 15px;
}

.efirium-btn {
    display: block;
    width: 90%;
    max-width: 155px;
    margin-top: 40px;
    height: 43px;
    line-height: 38px;
    border-radius: 5px;
    text-align: center;
}

.efirium-btn:hover {
    text-decoration: none;
}

.efirium-image .group-4 {
    display: inline-block;
    max-width: 100%;
    max-height: 470px;
    object-fit: contain;
}

.video {
    padding: 7vh 0 9vh;
    background-color: #f4f4f4;
}

.video-title {
    padding-left: 15px;
}

.video-content {
    margin-top: 7vh;
    overflow: hidden;
}

.video-clip {
    position: relative;
    width: 100%;
    min-height: 375px;
}

.video video {
    width: 100%;
    height: 375px;
}

.video-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #f9e174;
}

.video-btn .btn--play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 188px;
    height: 43px;
    border-radius: 5px;
    border: solid 3px #336e7b;
    color: #336e7b;
}

.video-btn.pause {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.video-btn.active span {
    display: none;
}

.video-item__title {
    margin-top: 20px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.video-item__text {
    margin-top: 10px;
    font-size: 16px;
}

.how-work {
    position: relative;
    padding: 7vh 0 9vh;
}

.how-work::after {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    width: 3px;
    height: 190px;
    border: solid 4px #006e7d;
    margin: auto;
}

.how-work__title {
    padding-left: 15px;
    text-align: center;
}

.how-work__content {
    margin-top: 7vh;
    overflow: hidden;
}

.how-work__image img {
    display: inline-block;
    max-width: 398px;
    max-height: 399px;
    object-fit: contain;
}

.how-work__text p {
    margin-bottom: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.how-work__btn {
    width: 100%;
    max-width: 170px;
    height: 43px;
    margin-top: 30px;
    border-radius: 5px;
}
.modal-dialog.modal--how {
    width: 80%;
}
.modal-dialog h4 {
    margin-left: 5px;
}
.modal--how .modal-body{
    padding: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
}

.team-block {
    margin-top: 50px;
    padding-bottom: 9vh;
}

.team-title {
    margin: 40px 0;
    text-align: center;
}

.team-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.team-item {
    margin: 30px 0;
    text-align: center;
}

.team-item__icon {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f9e174;
}

.team-item__name {
    margin: 20px 0 10px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    color: #336e7b;
}

.team-item__description {
    font-size: 16px;
    line-height: 23px;
}

.team-block .btn {
    display: block;
    height: 70px;
    max-width: 300px;
    margin: 30px auto 0;
    text-align: center;
    font: 25px/43px RobotoSlabRegular, sans-serif;
}

.faq {
    padding: 7vh 0 9vh;
    background: #006e7d;
}

.faq-title {
    padding-left: 15px;
    color: #ffffff;
}

.faq-wrapper {
    margin-top: 6vh;
}

.faq-image {
    text-align: right;
}

.faq-image .layer {
    display: inline-block;
    max-width: 370px;
    max-height: 404px;
    object-fit: contain;
}

.faq-item {
    margin-bottom: 40px;
    color: #ffffff;
}

.faq-item__question {
    margin-bottom: 15px;
    font: 20px/26px RobotoSlabBold, sans-serif;
    cursor: pointer;
}

.faq-item__answer {
    margin-left: 20px;
    padding-left: 20px;
    font: 16px/23px RobotoSlabRegular, sans-serif;
    border-left: 3px solid #ffe26d;
}

.footer {
    padding: 50px 0;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    margin-left: 20px;
    color: #404040;
}

.footer-social a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.2s linear;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .hero-title {
        font-size: 35px;
        line-height: normal;
    }
    .thesis-item__icon {
        margin: 0 auto;
    }
    .thesis-item__text {
        max-width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }


    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        display: block !important;
        width: 40%;
        margin: 0 auto 30px;
        object-fit: contain;
    }

    .partnership-title {
        padding: 0 10px;
        margin-bottom: 70px;
    }

    .partner-advantages__item .icon {
        display: block;
        min-height: inherit;
    }

    .partnership img {
        width: 80%;
        margin: 0 auto 20px;
    }

    .partner-advantages__item {
        display: block;
        min-height: inherit;
        margin: 50px 0 80px;
    }

    .partner-text {
        margin-top: -40px;
    }

    .partner-table:first-of-type {
        margin-right: 0;
    }

    .partner-table:nth-of-type(2) {
        margin-left: 0;
    }

    .partner-table__column {
        width: 49%;
    }

    .partner-table__header {
        font-size: 17px;
    }

    .partner-text p, .partner-table__text p {
        font-size: 15px;
    }

    .modal-dialog.modal-partner {
        width: 95%;
        color: #ffffff;
    }

    .modal-partner .modal-title {
        font-size: 25px;
        line-height: 30px;
    }

    .modal-partner .modal-body {
        padding: 15px 0;
    }

    .modal-partner .partner-text {
        margin-top: 0;
    }

    .how-work::after {
        bottom: -35px;
    }

    .partnership-image {
        order: 1;
    }

    .partnership-text {
        order: 2;
    }

    .partnership button,
    .efirium button,
    .how-work button,
    .faq button {
        display: block;
        margin: 40px auto;
    }

    .mobile-btn {
        position: relative;
        z-index: 2;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin: 8px 15px 0 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobile-btn span {
        display: block;
        height: 4px;
        margin-bottom: 4px;
        background-color: #333333;
        transition: all 0.2s linear;
    }

    .mobile-btn.active span:nth-child(1) {
        margin-top: 7px;
        transform: rotate(45deg);
        background-color: #006e7d;
    }

    .mobile-btn.active span:nth-child(2) {
        display: none;
    }

    .mobile-btn.active span:nth-child(3) {
        margin-top: -7px;
        transform: rotate(-45deg);
        background-color: #006e7d;
    }

    .nav.nav-tabs {
        display: none;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        padding: 20px 15px;
        background: #fff;
    }

    .nav.nav-tabs li {
        width: 100%;
        text-align: left;
    }

    .nav.nav-tabs li a {
        padding: 8px 0;
    }

    .header-btn {
        justify-content: flex-start;
    }

    .header-btn button.btn {
        width: 40%;
        padding: 10px 7px;
        line-height: 15px;
        font-size: 12px;
    }

    .header-btn button.btn:first-child {
        margin: 0 20px 0 15px;
    }

    .lessons-item button {
        text-align: left;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video video,
    .video-clip {
        height: auto;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        font-size: 35px;
        line-height: normal;
    }

    .title {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .partnership img {
        width: 80%;
        object-fit: contain;
    }

    .faq img,
    .efirium img,
    .how-work img {
        width: 80%;
        display: block !important;
        margin: 0 auto 50px;
    }

    .partnership-content {
        align-items: flex-start;
    }

    .how-work::after {
        bottom: -30px;
        height: 100px;
    }

    .partnership-title {
        text-align: left;
    }

    .nav.nav-tabs {
        margin-top: 50px;
    }

    .header .nav-tabs li a {
        padding: 13px 5px;
        font-size: 13px;
    }

    .header-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 50%;
        justify-content: flex-end;
    }

    .header-btn button.btn {
        width: 40%;
        padding: 10px 7px;
        line-height: 15px;
        font-size: 12px;
    }

    .header-btn button.btn:first-child {
        margin: 0 20px 0 15px;
    }

    .advantages-item {
        margin-bottom: 50px;
    }

    .lessons-item a {
        font-size: 13px;
    }

    .video-item {
        margin-bottom: 50px;
    }

    .video-item:last-child {
        margin-bottom: 0;
    }

    .video video,
    .video-clip {
        height: auto;
        min-height: inherit;
    }

    .faq-item__answer {
        margin-left: 2px;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        margin-bottom: 30px;
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-social a {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .partnership img,
    .efirium img,
    .how-work img,
    .faq img {
        width: 80%;
        object-fit: contain;
    }

    .how-work::after {
        bottom: -40px;
        height: 100px;
    }
}
