//глобальные переменные

// fonts variables

$font-base: OpenSans, sans-serif;
$font-base-bold: OpenSansSemiBold, sans-serif;
$font-roboto: RobotoRegular, sans-serif;
$font-slab: RobotoSlabBold, sans-serif;
$font-slab-light: RobotoSlabLight, sans-serif;


$font-size--base: 14px!default;
$line-height--base: 1.4!default;


// fonts variables END


// colors variables

$blue-dark: #336e7b;
$blue-light: #006e7d;

$black: #404040;

$grey: #f4f4f4;

$yellow-light: #ffe26d;
$yellow-dark: #f9e174;



// colors variables END

