.about {
  padding: 30px 0 60px;
  overflow: hidden;
  @include respond-to(handhelds) {
    padding: 0 0 40px;
  }
  h2 {
    margin-bottom: 42px;
    @include respond-to(handhelds) {
      margin-bottom: 20px;
    }
  }
  &-content {
    margin-bottom: 30px;
    text-align: center;

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      max-width: 243px;
      min-height: 190px;
      padding-top: 33px;
      box-sizing: border-box;
      border-right: 1px solid  transparent;
      border-left: 1px solid  transparent;
      text-align: center;
      @include respond-to(handhelds) {
        width: 49%;
        max-width: 49%;
        min-height: inherit;
        border: none;
        padding: 15px 5px;
      }
      &:nth-of-type(2) {
        border-color: rgb(130, 130, 130);
      }
      &:nth-of-type(3) {
        border-right: 1px solid rgb(130, 130, 130);
        @include respond-to(handhelds) {
          border-right: none;
        }
      }
      .number {
        font-size: 60px;
        font-weight: bold;
        color: $purple;
        @include respond-to(handhelds) {
          font-size: 30px;
        }
      }
      .description {
        font-size: 18px;
        @include respond-to(handhelds) {
          font-size: 16px;
        }
      }
    }
  }
  &-text {
    position: relative;
    float: right;
    max-width: 968px;
    min-height: 108px;
    padding: 20px 30px 10px;
    box-sizing: border-box;
    background: $brule;
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 35px;
      height: 35px;
      animation: blink 1.5s infinite;
      @keyframes blink {
        from,
        to { opacity: 0; }
        70% { opacity: 1; }
      }
    }
    &::before {
      top: -5px;
      left: -5px;
      border-top: 5px solid $purple;
      border-left: 5px solid $purple;
    }
    &::after {
      bottom: -5px;
      right: -5px;
      border-bottom: 5px solid $purple;
      border-right: 5px solid $purple;
    }
  }
}

