.advantages {
  padding: 50px 0 80px;
  @include respond-to(handhelds) {
    padding-top: 0;
  }
  &-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-item {
    display: inline-block;
    vertical-align: top;
    max-width: 196.5px;
    @include respond-to(handhelds) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
    }
    &:first-child &__text {
      background: #b43a3a;
    }
    &:nth-child(2) &__text {
      background: #7bb43a;
    }
    &:nth-child(3) &__text {
      background: #f3962e;
    }
    &:nth-child(4) &__text {
      background: #e55944;
    }
    &:nth-child(5) &__text {
      background: #8c9da2;
    }
    &:last-child {
      margin-right: 0;
    }
    &__text {
      min-height: 85px;
      padding: 15px 10px 5px 18px;
      box-sizing: border-box;
      color: #ffffff;
      .title {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    &__image {
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}