.contacts {
  position: relative;
  height: 489px;
  overflow: hidden;
  &-content {
    position: relative;
    z-index: 2;
    float: right;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    margin-top: 95px;
    padding: 5px 0 0 35px;
    box-sizing: border-box;
    background: #fff;
    h2 {
      margin-bottom: 10px;
      text-align: left;
      font-weight: normal;
    }
    .address {
      margin-bottom: 15px;
    }
    .phone {
      display: block;
      margin-bottom: 13px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: $black;
    }
    .time {
      span {
        font-weight: bold;
      }
    }
    button {
      margin-top: 30px;
    }
  }

}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}