.hero {
  padding: 20px 0 20px;
  margin-bottom: 45px;
  border: 1px solid transparent;
  overflow: hidden;
  &-text {
    float: left;
    max-width: 530px;
    @include respond-to(handhelds) {
      text-align: center;
    }
    @include respond-to(tablets) {
      max-width: 350px;
    }
    h1 {
      margin: 0 0 0 -5px;
      padding-top: 30px;
      font-size: 80px;
      line-height: 80px;
      @include respond-to(handhelds) {
        font-size: 35px;
        line-height: 40px;
        padding: 0;
        text-align: center;
      }
      @include respond-to(tablets) {
        font-size: 60px;
        line-height: 60px;
        padding: 0;
      }
    }
    h2 {
      margin-bottom: 45px;
      font-weight: normal;
      text-align: left;
      @include respond-to(handhelds) {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
  &-advantages {
    margin-bottom: 20px;
    &__item {
      display: inline-block;
      vertical-align: middle;
      width: 49%;
      @include respond-to(handhelds) {
        width: 100%;
        margin-bottom: 15px;
      }
      .icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        @include respond-to(tablets) {
          width: 30px;
          height: 30px;
          margin-right: 5px;
          img {
            width: 100%;
          }
        }
      }
      .text {
        display: inline-block;
        vertical-align: top;
        max-width: 145px;
        font-size: 18px;
        font-weight: bold;
        @include respond-to(handhelds) {
          font-size: 16px;
        }
        @include respond-to(tablets) {
          max-width: 130px;
          font-size: 14px;
        }
      }
    }
  }
  &-description {
    margin-bottom: 35px;
  }
  &-image {
    float: right;
    max-width: 400px;
    img {
      max-width: 100%;
    }
    @include respond-to(handhelds) {
      display: none;
    }
    @include respond-to(tablets) {
      max-width: 350px;
      img {
        width: 100%;
      }
    }
  }
}