.nav {
  padding: 20px 0;
  @include respond-to(handhelds) {
    padding: 0;
  }
  &-mobile {
    display: none;
    @include respond-to(handhelds) {
      position: absolute;
      top: 26px;
      right: 10px;
      display: block;
      width: 30px;
      height: 30px;
      span {
        display: block;
        height: 4px;
        margin-bottom: 3px;
        border-radius: 3px;
        background: $purple;
        transition: .2s;
      }
      &.active {
        span {
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          &:first-of-type {
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            height: 0;
            opacity: 0;
            margin: 0;
          }
          &:last-of-type {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 813px;
    margin-left: -13px;
    @include respond-to(handhelds) {
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      background: $purple;
      color: #ffffff;
      text-align: center;
      &.nav-main {
        overflow: hidden;
        & > li {
          &:first-child {
            & > a {
              position: relative;
              right: -10px;
            }
          }
          &:nth-child(2) {
            & > a {
              position: relative;
              right: -10px;
            }
          }
        }
      }
    }
    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      @include respond-to(handhelds) {
        position: relative;
        display: block;
        padding: 7px 0;
      }
      &:hover {
        a {
          background: $purple;
          color: #ffffff;
          box-shadow: 0px -6px 39px -8px rgba(0,0,0,0.6);
          @include respond-to(handhelds) {
            box-shadow: none;
            background: none;
          }
        }
        i.fa {
          opacity: 0;
        }
        & > .sub-menu {
          width: 130%;
          max-width: 240px;
          height: auto;
          z-index: 2;
          padding: 14px 0 20px 15px;
          opacity: 1;
          box-shadow: 0 26px 50px -5px rgba(0,0,0,0.6);
          transition: .2s;
          li {
            padding: 5px 5px 5px 0;
            a {
              display: block;
              color: rgba(255,255,255,0.9);
            }
          }
          @include respond-to(handhelds) {
            position: static;
            width: 100%;
            max-width: 100%;
            padding: 15px 0;
          }
        }
      }
      a {
        padding: 15px 16px;
        font-size: 12px;
        border-radius: 3px;
        font-weight: bold;
        color: $purple;
        text-transform: uppercase;
        text-decoration: none;
        @include respond-to(handhelds) {
          padding: 0;
          color: #ffffff;
        }
        @include respond-to(tablets) {
          padding: 15px 10px;
        }
        span {
          border-bottom: 1px solid $purple;
        }
        i.fa {
          position: relative;
          top: 1px;
          left: 7px;
          font-weight: bold;
          font-size: 14px;
        }
        &:hover {
          span {
            border-bottom: none;
            transition: .2s;
          }
        }
      }
    }
  }
  .sub-menu {
    position: absolute;
    top: 29px;
    left: 13px;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 3px;
    background: $purple;
    @include respond-to(handhelds) {
      & {
        transition: none;
        box-shadow: none;
        a {
          opacity: 1!important;
          color: #ffffff!important;
        }
        &.active {
          position: relative;
          z-index: 5;
          top: auto;
          left: auto;
          width: 100% !important;
          max-width: 100% !important;
        }
      }
    }
    li {
      position: static;
      display: block;
      width: 100%;
      a {
        display: none;
        padding: 0;
        text-transform: none;
        font-weight: normal;
        text-decoration: underline;
        i.fa {
          opacity:0.9;
        }
        &:hover {
          text-decoration: none;
        }
      }
      ul {
        position: absolute;
        top: 0;
        left: 105%;
        display: block;
        width: 0;
        height: 0;
        opacity: 0;
        box-sizing: border-box;
        border-radius: 3px;
        border-left: 1px solid rgba(255,255,255,0.1);
        background: $purple;
        box-shadow: 0 26px 50px -5px rgba(0,0,0,0.66);
      }
      &:hover {
        & > ul,
        & > ul.active {
          width: 100%;
          height: auto;
          z-index: 2;
          padding: 14px 0 20px 15px;
          opacity: 1;
          transition: .2s;
        }
      }
      & > ul.active {
        position: static;
        width: 100%;
        height: auto;
        margin: 0 auto;
        z-index: 6;
        padding: 14px 0 20px 15px;
        opacity: 1;
        transition: .2s;
      }
    }
  }
}
