.wrapper-portfolio__tabs {
  padding-top: 45px;
  background: $purple;
  h2 {
    margin-bottom: 45px;
    color: #ffffff;
  }
}

.wrapper-portfolio__content {
  background: $brule;
}

.portfolio {
  &-tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    &__item {
      display: inline-block;
      width: 100%;
      max-width: 239px;
      padding: 10px 10px 0;
      box-sizing: border-box;
      border-top-left-radius: 120px;
      border-top-right-radius: 120px;
      background: $grey;
      text-align: center;
      transition: .2s;
      cursor: pointer;
      @include respond-to(handhelds) {
        max-width: 50%;
        border-radius: 0;
      }
      @include respond-to(tablets) {
        max-width: 180px;
      }
      &.active {
        background: $brule;
        .portfolio-tabs__name {
          font-weight: bold;
        }
        .portfolio-tabs__photo {
          pointer-events: none;
        }
      }
    }
    &__photo {
      position: relative;
      max-width: 220px;
      max-height: 220px;
      border-radius: 50%;
      cursor: url("/images/portfolio/cursor.png"), pointer;
      text-align: center;
      @include respond-to(handhelds) {
        max-width: 80px;
        max-height: 80px;
        margin: 0 auto;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 90%;
          height: 90%;
          margin: auto;
          border-radius: 50%;
          background-color: rgba(69, 65, 144, 0.7);
          animation: hover .25s ease-in-out;
          @keyframes hover {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
    &__name {
      min-height: 75px;
      padding-top: 20px;
      box-sizing: border-box;
      font-size: 18px;
      @include respond-to(handhelds) {
        padding-top: 10px;
        font-size: 16px;
      }
    }
  }
  &-content {
    padding: 60px 0 70px;
    box-sizing: border-box;
    &__item {
      height: 0;
      opacity: 0;
      text-align: center;
      &.active {
        position: relative;
        z-index: 2;
        opacity: 1;
        height: auto;
        transition: all 0.3s linear;
      }
    }
    &__images {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      img {
        width: 100%;
        max-width: 485px;
        margin-bottom: 30px;
        @include respond-to(tablets) {
          max-width: 350px;
        }
        &.hidden {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
        }
      }
    }
    button {
      margin-top: 20px;
    }
  }
}


