.price {
  padding: 50px 0;
  @include respond-to(handhelds) {
    padding: 20px 0 50px;
  }
  &-content {
    max-width: 681px;
    margin: 0 auto;
    @include respond-to(handhelds) {
      margin-top: 35px;
    }
  }
  &-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    margin-bottom: 3px;
    padding: 1px 9px 1px 45px;
    border-radius: 40px;
    color: $black;
    @include respond-to(handhelds) {
      display: flex;
      flex-flow: column;
      align-items: center;
      border-radius: 0;
      padding: 15px;
    }
    &:nth-of-type(odd) {
      background: #fafafa;
    }
    &:nth-of-type(even) {
      background: $grey;
    }
    &__service {
      width: 100%;
      max-width: 230px;
      font-size: 18px;
      font-weight: bold;
      @include respond-to(handhelds) {
        max-width: 100%;
        text-align: center;
        margin-bottom: 5px;
      }
    }
    &__cost {
      color: $purple;
      font-weight: bold;
      @include respond-to(handhelds) {
        margin-bottom: 10px;
      }
    }
    &__special {
      width: 100%;
      max-width: 220px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      span {
        text-transform: none;
      }
    }
  }
}