
body {
  font:$font-size--base $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}
.wrapper-top {
  position: relative;
  background: radial-gradient(circle at 50% 25%, #fff4ce, $brule);
  overflow: hidden;
  @include respond-to(handhelds) {
    overflow: visible;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    border-top: 30px solid $brule;
    border-left: 30vw solid transparent;
    border-right: 70vw solid transparent;
    left: 0;
    bottom: -30px;
    z-index: 10;
  }
}
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  @include respond-to(handhelds) {
    padding: 0 15px;
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  @include respond-to(handhelds) {
    font-size: 25px;
  }
}


