@font-face {
  font-family: RobotoRegular;
  src: url('/src/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBlack;
  src: url('/src/fonts/Roboto/Roboto-Black.woff') format('woff'),
  url('/src/fonts/Roboto/Roboto-Black.ttf') format('ttf');
}

@font-face {
  font-family: RobotoSlabBold;
  src: url('/src/fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
  url('/src/fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('ttf');
}
@font-face {
  font-family: RobotoSlabBold;
  src: url('/src/fonts/RobotoSlab/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: RobotoSlabLight;
  src: url('/src/fonts/RobotoSlab/RobotoSlabLight.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('/src/fonts/OpenSans/OpenSansRegular.ttf');
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url('/src/fonts/OpenSans/OpenSansSemiBold.ttf');
}